@font-face {
   font-family: "Quicksand-Bold";
   src: url("../fonts/Quicksand-Bold/Quicksand-Bold.otf") format("otf"),
      url("../fonts/Quicksand-Bold/Quicksand-Bold.ttf") format("ttf"),
      url("../fonts/Quicksand-Bold/Quicksand-Bold.woff") format("woff"),
      url("../fonts/Quicksand-Bold/Quicksand-Bold.woff2") format("woff2");
   font-weight: normal;
   font-style: normal;
}
@font-face {
   font-family: "Quicksand-Regular";
   src: url("../fonts/Quicksand-Regular/Quicksand-Regular.otf") format("otf"),
      url("../fonts/Quicksand-Regular/Quicksand-Regular.ttf") format("ttf"),
      url("../fonts/Quicksand-Regular/Quicksand-Regular.woff") format("woff"),
      url("../fonts/Quicksand-Regular/fQuicksand-Regular.woff2") format("woff2");
   font-weight: normal;
   font-style: normal;
}
