@import url(./_fonts.css);
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
:active, :hover, :focus {
   outline: 0;
   outline-offset: 0;
}
body {
   font-family: "Quicksand-Bold";
   letter-spacing: 1px;
   color: #fff;
}
.conteiner__form {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   width: 400px;
   height: 500px;
   margin: 45px auto;
   padding: 40px 70px;
   background: url(../img/img_01.png) no-repeat;
   background-size: cover;
   background-position: center center;
   box-shadow: 0 25px 30px 10px rgb(0 0 0 / 38%);
}
.nav {
   font-size: 20px;
}
.link {
   text-decoration: none;
   color: #fff;
}
.nav__link {
   margin-right: 25px;
   opacity: 0.7;
}
.nav__link:focus {
   border-bottom: 2px solid #e66a64;
   opacity: 1;
}
.form {
   display: flex;
   flex-direction: column;
   height: 70%;
   justify-content: space-evenly;
}
.form__label--title {
   display: flex;
   flex-direction: column;
}
.form__input--text {
   width: 100%;
   height: 40px;
   margin-top: 10px;
   background: none;
   border: 2px solid #9c85c7;
   padding: 10px;
   color: #fff;
}
.form__label--chbx {
   font-family: "Quicksand-Regular";
   font-size: 13px;
}
#checkbox {
   transform:scale(1.2);
}
.form__input--chbx {
   margin-right: 5px;
}
.form__button {
   height: 45px;
   background-color: #23ae92;
   border: none;
   color: #fff;
   font-size: 18px;
   letter-spacing: 2px;
}
.form__button:hover {
   border: 2px solid #9c85c7 ;
}
.footer {
   display: inline-flex;
   justify-content: space-between;
   letter-spacing: 1px;
   
}
.buttom__link {
   font-family: "Quicksand-Regular";
   font-size: 12px;
   color: #766ebb;
   border-bottom: 1px solid #453bb1;
}
.buttom__link:hover {
   border-bottom: 1px solid #e66a64;
}